{%extends '../base.html'%}

{%block content%}
<div id="detail-content" class="container roboto">
    <div class="flex-direction-column">
        <p>{{post.title}}</p>
        <p>{{post.author}}</p>
        <p id='conteudo'>{{post.content}}</p>
        {%if user == post.author %}
        <div class="row-reverse">
            <a class='btn btn-danger' href="{%url 'social:post_delete' post_id=post.id%}">Delete</a>
            <a class='btn btn-success' href="{%url 'social:post_edit' post_id=post.id id=post.topic_id%}">Edit</a>
        </div>
        {%endif%}
    </div>
    <div class="row-reverse">
        <a href="{%url 'social:comment_create' post_id=post.id id=topic_id%}" class="btn btn-primary">Comment</a>
    </div>
    <div class="wrapper">
        <ul class="list-group">
            {%for comment in comments%}
            <li class="list-group-item">
                <div class='justify-content-center html-inside'>
                    <p>{{comment.comment_content}}</p>
                </div>
                <p>{{comment.comment_author}}</p>
            </li>
            {%endfor%}
        </ul>
    </div>
</div>
{%endblock%}