{%extends '../base.html'%}

{%block content%}
<div id="content" class="left-align roboto">
    {%if posts %}
    {%for post in posts%}
    <div>
        {{post.title}}
        <p>See <a href="{%url 'social:post_detail' post_id=post.pk id=post.topic.pk%}">More</a></p>
    </div>
    {%endfor%}
    <p><a href="{%url 'social:post_create' id=topic_id%}">IR</a></p>
    {%else%}
    <div class='container roboto'>
        <h2>Sorry, we are without posts!</h2>
        <p>Feel free to create <a href="{%url 'social:post_create' id=topic_id%}">one</a></p>
    </div>
    {%endif%}
</div>
{%endblock%}