{%extends '../base.html'%}

{%block content%}
<div id="detail-content" class="container roboto">
    <div class="flex-direction-column">
        <div class="post-header">
            <h1 class="roboto">{{post.title}}</h1>
            <p class="font-italic">{{post.author}}</p>
        </div>
        <div id='conteudo' class='text-wrap'>{{post.content|safe}}</div>
        {%if user == post.author %}
        <div class="row-reverse">
            <a class='btn btn-danger' href="{%url 'social:post_delete' post_id=post.id%}">
                <i class="fas fa-trash-alt"></i>
            </a>
            <a class='btn btn-success' href="{%url 'social:post_edit' post_id=post.id id=post.topic_id%}">
                <i class="fas fa-edit"></i>
            </a>
        </div>
        {%endif%}
    </div>
    <div class="row-reverse">
        <a href="{%url 'social:comment_create' post_id=post.id id=topic_id%}" class="btn btn-primary">Comment</a>
    </div>
    <div class="wrapper">
        {%if comments%}
            <h3 class="roboto">Comments</h3>
            <hr style="background-color: white;">
        {% endif %}
        <ul class="list-group">
            {%for comment in comments%}
            <li class="list-group-item">
                <div class='justify-content-center html-inside'>
                    <p class="roboto">{{comment.comment_content}}</p>
                </div>
                <p class="font-italic roboto">{{comment.comment_author}}</p>
                {%if comment.comment_author == user%}
                <a class='btn btn-success' href="{%url 'social:comment_edit' comment_id=comment.id%}">
                    <i class="fas fa-edit"></i>
                </a>
                <a class='btn btn-danger' href="{%url 'social:comment_delete' comment_id=comment.id%}">
                    <i class="fas fa-trash-alt"></i>
                </a>
                {%endif%}
            </li>
            {%endfor%}
        </ul>
    </div>
</div>
{%endblock%}