{% extends '../base.html' %}

{%block content%}
<div id='resources' class="container">
    <div class="margin-top list-group">
        <a href="https://codepen.io/kowlor/pen/ZYYQoy" target='_blank'
            class="list-group-item list-group-item-action roboto">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Solar System Backgroud</h5>
                <small>Made By: Malik Dellidj - @Dathink</small>
            </div>
            <p class="mb-1">This background is amazing, thanks to Malik</p>
            <p class="mb-1">See more <i class="fas fa-plus-circle"></i></p>
        </a>
        <a href="https://fontawesome.com/" target='_blank'
            class="list-group-item list-group-item-action roboto">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Icons Used</h5>
            </div>
            <p class="mb-1">Thanks fontawsome for providing such <strong>awsome icons</strong></p>
            <p class="mb-1">See more <i class="fas fa-plus-circle"></i></p>
        </a>
        <a href="https://github.com/yabwe/medium-editor" target='_blank'
            class="list-group-item list-group-item-action roboto">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Medium Editor</h5>
            </div>
            <p class="mb-1">Thanks to everyone in this amazing community who worked on this inline editor, they rocked!</p>
            <p class="mb-1">See more <i class="fas fa-plus-circle"></i></p>
        </a>
    </div>
</div>
{% endblock %}