{%extends '../base.html'%}
{%load crispy_forms_tags%}

{%block content%}
<div id="content" class="left-align roboto">
    <div class="wrapper flex-column-grow">
        <p class='title'>
            Space Social Media
        </p>
        <hr>
        <p class="text-justify">
            Here you can write about Space, join Groups and More!
        </p>
        <p class="text-justify">
            If you wish to join sign-up <strong>now</strong>!
        </p>
    </div>
    <div class='container justify-content-right' id="form-content">
        <div class='wrapper justify-content-right row-reverse fade-in'>
            <form method="post" id="form-home">
                {%csrf_token%}
                {{form | crispy}}
                <input type="submit" class='btn btn btn-light' value="Sign-Up">
            </form>
        </div>
    </div>
</div>
{%endblock%}