{%extends '../base.html'%}

{%block content%}
<h2 class='fade-in'>HELLO {{user}}</h2>
<div id="profile-content" class="justify-content-center">
    <div class="roboto flexed medium-size">
        <h3>Your Groups</h3>
        {%for group in user.groups.all%}
        <div class="card margin-bottom group-desc">
            <div class="card-body">
                <div class="card-title">
                    <a class='detail-link' href="#">{{group.name}}</a>
                </div>
                <div class="card-text">Users: {{group.user_set.all.count}}</div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{%endblock%}