<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{%static 'images/rocket-solid.svg'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%if title%}
    <title>{{title}}</title>
    {%else%}
    <title>Document</title>
    {%endif%}

    <!-- Medium Editor, thanks to https://github.com/yabwe/medium-editor -->
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
    <!--  -->

    <!-- Thanks to https://fontawesome.com/ -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"
        integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
    <!--  -->

    <!-- Thanks to Malik Dellidj - @Dathink at https://codepen.io/kowlor/pen/ZYYQoy -->
    <link rel="stylesheet" href="{% static 'styles/style.css'%}">
    <!--  -->

    <!-- Thanks to bootstrap4 https://getbootstrap.com/docs/4.5/getting-started/introduction/ -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!--  -->

    <!-- jquery https://jquery.com/ -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <!--  -->
        
    <!-- Thanks to bootstrap4 https://getbootstrap.com/docs/4.5/getting-started/introduction/ and jquery https://jquery.com/-->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <!--  -->
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <a class="roboto navbar-brand" href="">Social Space</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="roboto nav-link" href="#">Groups</a>
                    </li>
                    <li class="nav-item">
                        <a class="roboto nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="roboto nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="roboto nav-link" href="{%url 'accounts:profile' id=user.pk%}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="roboto nav-link" href="{%url 'accounts:logout'%}">Logout</a>
                    </li>
                    {%else%}
                    <li class="nav-item active">
                        <a class="roboto nav-link" href="{%url 'accounts:login'%}">Login</a>
                    </li>
                    {%endif%}
                </ul>
            </div>
        </nav>
    </header>
    <section>
        {%block content%}
        {%endblock%}
    </section>

    <!-- Thanks to Malik Dellidj - @Dathink at https://codepen.io/kowlor/pen/ZYYQoy -->
    <div class='solar-syst'>
        <div class='sun'></div>
        <div class='mercury'></div>
        <div class='venus'></div>
        <div class='earth'></div>
        <div class='mars'></div>
        <div class='jupiter'></div>
        <div class='saturn'></div>
        <div class='uranus'></div>
        <div class='neptune'></div>
        <div class='pluto'></div>
        <div class='asteroids-belt'></div>
    </div>

    <script src="{%static 'src/index.js'%}"></script>
</body>

</html>